<p-drawer
  [(visible)]="sidebarVisible"
  (onHide)="handleSidebarHide()"
  position="right">
  <div
    style="display: flex; justify-content: center; align-items: center; margin-top: 30px">
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="searchForm"
      style="border: 1px solid #ccc; border-radius: 8px; padding: 20px; width: 300px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);"
    >
      <!--Search word-->
      <p-iconfield iconPosition="right">
        <p-inputicon styleClass="pi pi-tag"></p-inputicon>
        <input
          type="text"
          pInputText
          [placeholder]=" 'description' | translate"
          formControlName="description"
          style="width: 100%; margin-bottom: 10px;"
        >
      </p-iconfield>

      <!--Category-->
      <p-multiSelect
        [options]="categories"
        formControlName="categories"
        showClear="true"
        [filter]="false"
        showToggleAll="true"
        optionLabel="label"
        [selectedItemsLabel]="getSelectedItemsLabel()"
        [maxSelectedLabels]="2"
        [style]="{'width': '100%', 'margin-bottom': '10px'}"
        [placeholder]="'categories' | translate">
      </p-multiSelect>

      <!--User-->
      <p-multiSelect
        [options]="users"
        formControlName="users"
        [showHeader]="false"
        optionLabel="label"
        [style]="{'width': '100%', 'margin-bottom': '10px'}"
        placeholder="Käyttäjä">
      </p-multiSelect>

      <p-button
        styleClass="p-button-submit"
        [style]="{'width': '100%', 'margin-top': '10px', 'display': 'flex', 'justify-content': 'center'}"
        type="submit">{{ 'search' | translate}}
      </p-button>
    </form>
  </div>
</p-drawer>

@if (isLoading) {
  <div style="display: flex; margin-top: 50px; justify-content: center">
    <p-progressSpinner ariaLabel="Haku käynnissä"/>
  </div>
} @else {
  @if (bills && bills.length > 0) {
    <div class="p-grid p-justify-center" style="margin-top: 20px">
      <div class="p-col-12 p-md-10 p-lg-8">
        <p-table
          [value]="bills" 
          [scrollable]="true" 
          size="small"
          scrollHeight="600px" 
          styleClass="p-datatable-gridlines">
          <ng-template pTemplate="header">
            <tr>
              <th id="sort-owner" pSortableColumn="owner">{{ 'who' | translate}} <br>
                <p-sortIcon field="owner"/>
              </th>
              <th id="sort-description" pSortableColumn="description">{{ 'description' | translate}} <br>
                <p-sortIcon field="description"/>
              </th>
              <th id="sort-amount" pSortableColumn="amount">{{ 'amount' | translate}} <br>
                <p-sortIcon field="amount"/>
              </th>
              <th id="sort-date" pSortableColumn="date">{{ 'dateShort' | translate}} <br>
                <p-sortIcon field="date"/>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-bill>
            <tr (click)="showEditView(bill)" (keydown.enter)="showEditView(bill)">
              <td>{{ bill.ownerName}}</td>
              <td style="white-space: normal; word-wrap: break-word; max-width: 100px;">
                {{ bill.description }}
              </td>
              <td>{{ bill.ownAmount | number:'1.2-2' }}{{ 'currency' | translate}}</td>
              <td>{{ bill.date | date: 'd.M.yyyy' }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  } @else {
    <p style="text-align: center; font-size: 16px; margin-top: 30px">{{ 'noBillsFound' | translate}}</p>
  }

  @if (showEditBillDialog && selectedBill.ownerName === currentUser?.name) {
    <p-dialog
      [header]="'edit' | translate"
      [modal]="true"
      [(visible)]="showEditBillDialog"
      focusOnShow="false"
      [contentStyle]="{'height': '500px', 'display': 'flex', 'flexDirection': 'column', 'justifyContent': 'space-between'}">
      <app-bill-form
        style="margin-top: 20px"
        [disabledFields]="['amount', 'sliderPercent', 'description']"
        [showDeleteBillButton]="false"
        [amount]="selectedBill.amount"
        [description]="selectedBill.description"
        [id]="selectedBill.id"
        [ownShareOfBill]="selectedBill.ownAmount"
        [paid]="selectedBill.paid"
        [category]="selectedBill.categoryId"
        [sliderPercent]="Math.round(selectedBill.ownAmount / selectedBill.amount * 100)"
        (formEmitter)="handleEditBill($event)">
      </app-bill-form>
    </p-dialog>

  }
}

