<!--// Category -1 is debtPaid box-->
@if (category === -1) {
  <hr>
  <p style="text-align: center;"><i>{{ date | date: 'd.M.YYYY' }}</i></p>
  <p style="text-align: center"><i>
    {{ userIsOwnerOfBill ? 'Maksoit velat' : owner + ' maksoi velat' }}
    {{ ownAmount | number: '1.2-2' }} {{ 'currency' | translate }}</i></p>
  <hr>
} @else {
  <div [ngClass]="isPaid ? 'isPaid' : ''">
    <i style="margin: 0 6px ;color: grey">{{ owner }}</i>
    <br>
    <i style="margin: 0 6px; color: grey">{{ date | date: 'd.M.YYYY' }}</i>
    <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -->
    <div (click)="editBill()" [ngClass]="[userIsOwnerOfBill ? 'own' : 'other']" style="width: 185px;">
      <p id="amount">{{ +amount | number : '1.2-2' }} €</p>
      <p id="description">{{ description }}</p>
      <hr>
      <p id="own">{{ userIsOwnerOfBill ? 'Oma' : owner + 'n' }}
        osuus {{ (ownAmount || 0) | number : '1.2-2' }} €</p>
    </div>
  </div>
}
@if (showDialog) {
  <p-dialog
    [header]="'edit' | translate"
    [modal]="true"
    [(visible)]="showDialog"
    focusOnShow="false"
    [contentStyle]="{'height': '500px', 'display': 'flex', 'flexDirection': 'column', 'justifyContent': 'space-between'}">
    <app-bill-form
      style="margin-top: 20px"
      [amount]="amount"
      [description]="description"
      [ownShareOfBill]="ownAmount"
      [category]="category"
      [sliderPercent]="ownAmount / amount * 100"
    ></app-bill-form>
  </p-dialog>
}
