/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
//@import "primeng/resources/themes/lara-light-blue/theme.css";
//@import "primeng/resources/primeng.min.css";

body {
  margin-top: 0;
}

.customStyle {
  width: 250px;
}

.stickyBar {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  left: 0;
}

.customSkeleton {
  display: grid;
  place-self: end;
  right: 0;
  background: red;
  color: red;
}

.p-toast {
  margin-top: 100px !important;
}

.p-blockui {
  z-index: 1 !important;
}

.p-tabview-nav {
  display: flex;
  justify-content: center;
}

.p-tabview-panels {
  display: none;
}
