.idea
*.iml

# Compiled output
client/dist
client/tmp
client/out-tsc
client/bazel-out

# Node
client/node_modules
client/npm-debug.log
client/yarn-error.log
client/.*
client/node/


# Server
server/HELP.md
server/target/
server/!.mvn/wrapper/maven-wrapper.jar
server/!**/src/main/**/target/
server/!**/src/test/**/target/
server/.apt_generated
server/.classpath
server/.factorypath
server/.project
server/.settings
server/.springBeans
server/.sts4-cache
server/src/main/resources/static
server/src/main/resources/application-dev.properties
server/src/main/resources/application.properties
