@if (bills$ | async; as bills) {
  <div style="display:grid; place-items: center;">
    @for (bill of bills; track bill) {
      <app-bill
        [bill]="bill"
        [style.place-self]="(bill.amount === 0) ? 'normal' : (bill.owner === this.username) ? 'end' : 'start'"
        [username]="username"
        style="margin-bottom: 10px">
      </app-bill>
    }
  </div>
} @else {
  <div style="margin-top: 200px; display: grid; place-items: center">
    <p-progressSpinner></p-progressSpinner>
  </div>
}
