<form style="display: flex; flex-direction: column; text-align: center;" [formGroup]="filterForm" (ngSubmit)="handleOnChange()">
  <p-dropdown 
    formControlName="user" 
    [options]="users" 
    [style]="{'width': '80%', 'margin': 'auto', 'margin-top': '5px', 'display': 'flex', 'justify-content': 'center'}" 
    (onChange)="handleOnChange()" 
    [placeholder]="'user' | translate">
  </p-dropdown>
</form>

<p-chart
  type="pie"
  [data]="chartData" 
  [options]="chartOptions"
  ariaLabel="Data"
/>

<div class="flex justify-content-center">
  <h1 style="text-align: center">
    {{ 'total' | translate }}: {{ totalAmount() | number : '1.2-2' }} {{ 'currency' | translate}}</h1>
</div>
