<form style="display: flex; flex-direction: column; text-align: center;" [formGroup]="filterForm">
  <p-select
    formControlName="user"
    [options]="users()" 
    [style]="{'width': '80%', 'margin': 'auto', 'margin-top': '5px', 'display': 'flex', 'justify-content': 'center'}" 
    [placeholder]="'user' | translate">
  </p-select>
</form>

<p-chart
  type="doughnut"
  [data]="chartData()" 
  [options]="chartOptions"
  ariaLabel="Data"
/>

<div>
  <h1 style="text-align: center">
    {{ 'total' | translate }}: {{ totalAmount() | number : '1.2-2' }} {{ 'currency' | translate}}</h1>
</div>
