<div [ngClass]="isPaid ? 'isPaid' : ''">
  <i style="margin: 0 6px ; font-weight: lighter; color: gray">{{owner}}</i>
  <br>
  <i style="margin: 0 6px ; font-weight: lighter; color: gray">{{date | date: 'dd.MM.YYYY'}}</i>
  <div [ngClass]="[userIsOwnerOfBill ? 'own' : 'other']" style="width: 185px;">
    <p id="amount">{{+amount | number : '1.2-2'}} €</p>
    <p id="description">{{description}}</p>
    <hr>
    <p id="own">{{userIsOwnerOfBill ? 'Oma' : owner + 'n'}} osuus {{(ownAmount || 0) | number : '1.2-2'}} €</p>
  </div>
</div>
