<app-navbar
  (debtEmitter)="payDebt()"
  [debtAmount]="debt()">
</app-navbar>

@if (isLoading) {
  <p-progressSpinner [ngStyle]="{'margin-top': '200px', 'display': 'grid', 'place-items': 'center'}"></p-progressSpinner>
} @else {
  <router-outlet></router-outlet>
}

<!--Confirmation popup-->
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
  <ng-template pTemplate="footer">
    <p-button label="Peruuta" (onClick)="cd.reject()" severity="danger"
              icon="pi pi-times"></p-button>
    <p-button label="Hyväksy" (onClick)="cd.accept()" severity="success"
              icon="pi pi-check"></p-button>
  </ng-template>
</p-confirmDialog>
